.Rproj.user
.Rhistory
.RData
.Ruserdata
Colaborações/Angela Kaysel/data/SRR7945375/SRR7945375.sra
Colaborações/Angela Kaysel/data/SRR7945375/SRR7945375_1.fa.gz
Colaborações/Angela Kaysel/data/SRR7945375/SRR7945375_1.fastq.gz
Colaborações/Angela Kaysel/data/SRR7945375/SRR7945375_2.fa.gz
Colaborações/Angela Kaysel/data/SRR7945375/SRR7945375_2.fastq.gz
Miniconda3-latest-Linux-x86_64.sh
Colaborações/Angela Kaysel/miniconda.sh
